client
dev {{ openvpn_dev }}
proto {{ openvpn_proto }}
remote {{ public_ip }}
persist-key
persist-tun
ca ca.crt
cert easyrsa/pki/issued/client.crt
key easyrsa/pki/private/client.key
{% if two_fa is defined %}
auth-user-pass
{% endif %}
comp-lzo yes
nobind
auth-nocache
script-security 2
reneg-sec {{ openvpn_reneg_sec }}
tls-auth easyrsa/pki/private/ta.key 1
cipher {{ openvpn_cipher }}
tls-cipher {{ openvpn_tlscipher }}
remote-cert-tls server
auth {{ openvpn_auth }}